VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBzaW1ldXd4d3dvemZ5amtsenZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk2NzY3MTEsImV4cCI6MjEwNTI1MjcxMX0.LVC9rCB7-d6cETh37FudqxACikSQQiF6DX05EXeVx9s
VITE_SUPABASE_URL=https://psimeuwxwwozfyjklzvg.supabase.co
