VITE_SUPABASE_URL=https://cfkymotcnccgvkpmcevp.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNma3ltb3RjbmNjZ3ZrcG1jZXZwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk4NDIyMjAsImV4cCI6MjEwNTQxODIyMH0.UydSETlKBKs3DbPuueKG1Oh8mQdWv-iRqPOSYybgF70
